* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;                                          
}

.chess-area {
	position: fixed;
	left: 400px;
	width: 950px;

	.letters-line {
		display: block;
		font-size: 0;
		height: 80px;
	}

	.letters-field {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		height: 80px;
		text-align: center;
		font-size: 38px !important;
		line-height: 80px;
		box-sizing: border-box;

		&.info {
			margin-bottom: 20px;
		}
	}

	.chess-line {
		display: block;
		font-size: 0;
		height: 80px;

		.chess-field {
			display: inline-block;
			vertical-align: top;
			line-height: 80px;
			width: 80px;
			height: 80px;
			font-size: 14px;
			text-align: center;
			box-sizing: border-box;
			border: 1px solid #CEAD7C;
			cursor: pointer;

			&.black {
				background-color: #CEAD7C;
			}
		}
	}

	.figure {
		font-size: 64px;
	}
}

.chess-options {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100vh;
	background-color: #FFFCEA;
	border-right: 2px solid #CEAD7C;

	.input-style {
		height: 30px;
		outline: none;
	}

	.moving-style {
		text-align: center;
		padding: 20px;
		color: #7D4B00;

		&.hidden {
			visibility: hidden;
		}
	}

	.button-style {
		text-align: center;
		padding: 10px;

		button {
			text-align: center;
			padding: 10px;
			background-color: white;
			color: #7D4B00;
			border: 2px solid #CEAD7C;
			outline: none;

			&:hover {
				cursor: pointer;
				background-color: #CEAD7C;
			}
		}

		&.hidden {
			display: none;
		}
	}

	.chat {
		position: fixed;
		width: 300px;
		height: 450px;
		margin-top: 50px;
		bottom: 0px;
		box-sizing: border-box;

		.rooms-box {
			position: relative;
			height: 50px;

			span {
				padding: 10px;
				color: #2196F3;
			}
		}

		.chat-message-box {
			position: relative;
			width: 100%;
			height: 350px;
			background-color: white;
			border-top: 2px solid rgb(206, 173, 124);
			border-bottom: 2px solid rgb(206, 173, 124);
			overflow-y: auto;
			box-sizing: border-box;
			padding: 15px;

			.chat-msg-item {
				padding: 10px;
				max-width: 130px;
				clear: both;
				overflow-x: hidden;

				.msg-user {
					color: #2196F3;
				}

				&.to-right {
					float: right;
					.msg {
						float: right;
					}
				}

				.msg {
					display: inline-block;
					background-color: rgba(33, 150, 243, 0.22);
					max-width: 130px;
					color: brown;
					padding: 6px;
					margin-top: 5px;
    				border-radius: 10px;
    				word-wrap: break-word;
				}
			}
		}

		.chat-input {
			position: relative;
			border: 0px;
			width: 100%;
			height: 50px;
			background-color: white;
			color: rgb(206, 173, 124);
			outline: none;
			font-size: 30px;
		}

	}
}