* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;                                          
}

.chess-area {
	position: fixed;
	left: 400px;
	width: 950px;

	.letters-line {
		display: block;
		font-size: 0;
		height: 80px;
	}

	.letters-field {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		height: 80px;
		text-align: center;
		font-size: 38px !important;
		line-height: 80px;
		box-sizing: border-box;

		&.info {
			margin-bottom: 20px;
		}
	}

	.chess-line {
		display: block;
		font-size: 0;
		height: 80px;

		.chess-field {
			display: inline-block;
			vertical-align: top;
			line-height: 80px;
			width: 80px;
			height: 80px;
			font-size: 14px;
			text-align: center;
			box-sizing: border-box;
			border: 1px solid #CEAD7C;
			cursor: pointer;

			&.black {
				background-color: #CEAD7C;
			}
		}
	}

	.figure {
		font-size: 64px;
	}
}